.introVehicleOperation {
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
}

.vehicleOperationText2 {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
}