.metricsText {
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
}

.dashboardWrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25vh;
    width: 90%;
    max-width: 900px;
    margin: 2rem auto;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
}

.dashboardImg {
    width: 100%;
    height: auto;
    display: block;
}

.metricOverlay {
    position: absolute;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    transition: all 0.3s ease;
}

/* .inactiveMetric {
    background-color: rgba(26, 26, 26, 0.35);
    cursor: not-allowed;
    pointer-events: none;
} */

.viewedMetric {
    background-color: rgba(255, 255, 255, 0.288);
    cursor: pointer;
}

.activeMetric {
    cursor: pointer;
}

.activeMetric:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.glowRing {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 4px solid #E69907;
    box-shadow: 0 0 15px #E69907, inset 0 0 15px #E69907;
    animation: pulseGlow 2s ease-in-out infinite;
    pointer-events: none;
}

@keyframes pulseGlow {
    0% {
        background-color: #e6980738;
        transform: scale(1);
        opacity: 0.3;
    }

    50% {
        transform: scale(1.04);
        opacity: 0.9;
        background-color: #e6980759;
        box-shadow: 0 0 25px #E69907, inset 0 0 20px #E69907;
    }

    100% {
        background-color: #e6980738;
        transform: scale(1);
        opacity: 0.3;
    }
}