.popup {
    width: 60vw;
    padding: 2rem 2.5rem 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    direction: rtl;
}

.title {
    font-family: Assistant, sans-serif;
    font-size: clamp(1.3rem, 2.2vw, 1.8rem);
    font-weight: 800;
    color: #073799;
    text-align: center;
    margin: 12px 0px;
}

.contentGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    width: 90%;
    margin-bottom: 0.5rem;
}

.textColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.columnHeader {
    font-family: Assistant, sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.3rem);
    font-weight: 800;
    color: #073799;
    margin: 0 0 0.5rem 0;
}

.columnText {
    font-family: Assistant, sans-serif;
    font-size: clamp(0.85rem, 1.1vw, 1.05rem);
    font-weight: 500;
    color: #073799;
    line-height: 1.5;
    margin: 0;
}

.imagesGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 65%;
}

.imageWrapper {
    position: relative;
    width: fit-content;
    max-width: 60%;
    margin: 0 auto;
}

.image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 30px;
}

.redImg {
    border: solid 3px #CC3132;
}

.greenImg {
    border: solid 3px #61A747;
}

.arrowLeft {
    position: absolute;
    bottom: 30%;
    left: -30%;
    width: 18%;
    height: auto;
    transform: scaleX(-1) rotate(-105deg);
    pointer-events: none;
}

.arrowRight {
    position: absolute;
    bottom: 30%;
    right: -30%;
    width: 18%;
    height: auto;
    transform: rotate(-105deg);
    pointer-events: none;
}

.labelLeft {
    font-family: Assistant, sans-serif;
    font-size: clamp(0.75rem, 0.9vw, 1.1rem);
    font-weight: 600;
    color: #073799;
    position: absolute;
    bottom: 10%;
    left: -50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.labelRight {
    font-family: Assistant, sans-serif;
    font-size: clamp(0.75rem, 0.9vw, 1.1rem);
    font-weight: 600;
    color: #073799;
    position: absolute;
    bottom: 10%;
    right: -60%;
    transform: translateX(50%);
    white-space: nowrap;
}

.commentWrapper {
    margin-top: 3vh;
    flex: 1;
}

.confirmBtn {
    background-color: #E69907;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 0.5rem 1.5rem;
    min-width: 45px;
    min-width: 25px;
    transition: transform 0.15s ease;
    z-index: 10;
    color: #FFF2B4;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    font-family: Assistant, sans-serif;
    font-weight: 800;
}

.confirmBtn:hover {
    cursor: pointer;
    transform: scale(1.1);
}
