.instructionsGal {
    position: absolute;
    width: clamp(15rem, 14vw, 20rem);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
}

.textBox {
    position: absolute;
    width: 30vw;
    height: 30vh;
    background-color: #4769A7;
    border-radius: 30px;
    text-align: center;
    position: relative;
    top: clamp(9rem, 26vh, 18rem);
    margin: 0 auto;
}

.bubbleText {
    position: absolute;
    color: #FFF2B4;
    font-family: Assistant;
    font-size: clamp(1rem, 5vw, 1.5rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
