.instructionsGal {
    position: absolute;
    width: clamp(11rem, 14vw, 20rem);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
}

.bubbleText {
    color: #FFF2B4;
    font-family: Assistant, sans-serif;
    font-size: clamp(1rem, 2vw, 1.3rem);
    font-weight: 600;
    text-align: center;
    line-height: 1.4;
    margin: 0;
}

.textBox {
    position: relative; 
    width: clamp(28vw, 36vw, 45vw); 
    height: 30vh;
    background-color: #4769A7;
    border-radius: 30px;
    top: clamp(9rem, 26vh, 18rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2vw;
    box-sizing: border-box;
    z-index: 1; 
}

.textBox::after {
    content: "";
    position: absolute;
    bottom: -3.8rem; 
    left: 7%; 
    width: 4rem;
    height: 4rem;
    background-color: #4769A7;
    clip-path: path('M 0 0 C 10 10 15 15 15 30 C 15 35 10 40 10 40 C 30 35 40 20 40 0 Z');
    transform: scaleX(-1) rotate(15deg) scale(1.6);
    z-index: -1;
    aspect-ratio: 1 / 1;
}

.languagesDiv {
    display: flex;
}

.languageBtn {
    width: 3.5vw;
    margin: 0 0.3vw;
}

.languageBtnWrapper {
    cursor: pointer;
    transition: transform 0.2s;
}

.languageBtnWrapper:active {
    transform: scale(0.95);
}