
.aboutBtn {
    border: none;
    color: #FEECD8;
    font-size: 2rem;
    background-color: #073799;
    border-radius: 150px;
    width: 3rem;
    height: 3rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    transition: transform 0.25s ease;
    cursor: pointer;
}

.aboutBtnContainer {
    position: absolute;
    left: 1rem;
    bottom: 0.5rem;
    text-align: center;
    font-family: "assistant-bold";
    color: #073799;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.aboutBtn:hover {
    transform: scale(1.15);
}

.divAbout {
    position: absolute;
    color: #FFF2B4;
    width: 15rem;
    height: 25rem;
    left: 1rem;
    bottom: 6rem;
    font-family: "assistant";
    background: #073799;
    border-radius: 1rem;
    box-shadow: 0 15px 20px -20px rgba(0, 0, 0, 0.4);
    text-align: center;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.listTextAbout {
    transition: background-color 0.5s ease;
    margin: 5%;
}

.listTextAbout:hover {
    background-color: #dbdbdb;
}

.fadeIn {
    opacity: 1;
    pointer-events: auto;
    max-height: 500px;
}

.fadeOut {
    opacity: 0;
    pointer-events: none;
    max-height: 0;
}

.startMainContentText {
    font-family: "Rubik", "sans-serif";
    font-size: 3.5rem;
    color: #e69907;
    font-weight: 700;
}

.startMainContent {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.davidCard {
    height: 30rem;
    border-radius: 17px;
    margin-top: 1rem;
}

.letsStartBtn {
    height: 9rem;
    position: absolute;
    bottom: 15vh;
    right: 70vw;
    cursor: pointer;
    animation: pulse 1.8s ease infinite;
    display: inline-block;
    transition: transform .25s ease;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.letsStartBtn:hover {
    animation: none;
    transform: scale(1.13);
}

.backBtnText {
    font-family: "Assistant", "sans-serif";
    font-weight: 700;
    color: #073799;
    font-size: 1vw;
}