* {
    margin: 0;
    padding: 0;
}

.app {
    background-color: #FFF2B4;
    min-height: 100vh;
    width: 100vw;
}

.back-btn {
    position: absolute;
    right: 2vw;
    top: 2vh;
    width: 5vw;
}

.back-btn:hover {
    cursor: pointer;
}

::selection {
    background-color: #C5571C;
    color: white;
}